.main {
  height: 60vh;
  width: 70vw;
  margin: 4rem 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1d5db;
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 2fr 1fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
    "top top top top"
    "left .  right right"
    ". . . bottom";
}

.main-top {
  grid-area: top;

  background-color: #fff;
  margin-bottom: 0.5rem;
  height: 50px;
}

.main-left {
  grid-area: left;
  background-color: #fff;
  margin-top: 0.5rem;
}

.main-right {
  grid-area: right;
  background-color: #fff;
  margin-top: 0.5rem;
}

.main-bottom {
  grid-area: bottom;
  height: 50px;
  margin: 0.5rem;
  background-color: #10b981;
}

.profile-img {
  border-radius: 50%;
}
